.ContactUs {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .ContactUs__content {
    min-height: calc(100vh - 100px);
    min-height: -webkit-calc(100vh - 100px);
    min-height: -moz-calc(100vh - 100px);
    min-height: -o-calc(100vh - 100px);
    min-height: -ms-calc(100vh - 100px);
    padding: 80px;
    margin-top: 100px;
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
    .ContactUs__forms{
      flex-basis: 60%;
    .ContactUs__content__heading{
        font-weight: 700;
        font-size: 56px;
    }
  }
    .ContactUs__image{
        width: 100%;
        height: 100%;
        flex-basis: 30%;
        position: relative;
        display: block;
        .ContactUs__image__watermark{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 159, 120, 0.2);
            padding: 30px;
            top: 50px;
            left: 50px;
            border-radius: 10px;
            z-index: 0;
        }
        .ContactUs__content__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 20;
            position: relative;
        }
    }
  }
}
