.ContactUs {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    min-height: calc(100vh - 100px);
    min-height: -webkit-calc(100vh - 100px);
    min-height: -moz-calc(100vh - 100px);
    min-height: -o-calc(100vh - 100px);
    min-height: -ms-calc(100vh - 100px);
    padding: 80px;
    margin-top: 100px;
    display: flex;
    flex-direction: flex;
    @media screen and (max-width: 920px) {
      flex-direction: column-reverse;
      gap: 20px;
      margin-block: 30px;
    }
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
    &__forms {
      flex-basis: 60%;
      &__heading {
        font-weight: 700;
        font-size: 56px;
        @media screen and (max-width: 920px) {
          font-size: 36px;
        }
      }
      &__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        &__text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          &__label {
            font-weight: 500;
            font-size: 1.15rem;
          }
          &__input {
            width: 75%;
            @media screen and (max-width: 920px) {
                width: 100%;
              }
            min-height: 200px;
            background-color: rgba(90, 224, 191, 0.2);
            border: 1px solid #B5E6DD;
            padding: 24px;
            box-shadow: 0px 2px 2px rgba(0, 159, 120, 0.25);
            border-radius: 8px;
            outline: none;
            &:focus {
              outline: none;
              border: 1px solid #5AE0BF;
            }
          }
        }
        &__button{
        display: block;
        
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        
          color: #fff;
          padding: 1rem 3rem;
          border-radius: 5px;
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
          display: block;
          width: fit-content;
          transition-property: background-color;
          transition-duration: 500ms;
          transition-timing-function: ease-in;
          --background: #009f78;
          background-color: var(--background);
        
          &:hover {
            --background: #19765e;
          }
        }
      }
    }
  }
    &__image {
      width: 100%;
      height: 100%;
      flex-basis: 30%;
      position: relative;
      display: flex;
      &__watermark {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 159, 120, 0.2);
        padding: 30px;
        top: 50px;
        left: 50px;
        border-radius: 10px;
        z-index: 0;
        @media screen and (max-width: 920px) {
          top: 20px;
          left: 20px;
        }
      }
      &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 20;
        position: relative;
      }
    }
  }