.Details{
    display: flex;
    padding: 80px;
    justify-content: space-between;
    gap: 80px;
    color: #000D09;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding: 40px;
        gap: 40px;
    }
    .Details__content{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .Details__content__title{
            font-size: 3.5rem;
            font-weight: 700;
        }
        .Details__content__description{
            font-size: 1rem;
        }
    }
}
.Details__reverse{
    flex-direction: row-reverse;
    @media screen and (max-width: 1024px) {
            flex-direction: column;
            padding: 40px;
            gap: 40px;
        }
}