.FooterLink{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .FooterLink__heading{
        font-weight: 500;
        font-size: 1.15rem;
    }   
    .FooterLink__links{
        display: flex;
        flex-direction: column;
        font-size: 0.85rem;
        gap: 10px;
    }
}