.Form {
  display: flex;
  flex-direction: column;
  width: 75%;
  .Form__label {
    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 10px;
  }
  .Form__input {
    width: 100%;
    padding: 1rem 2rem;
    border: 1.5px solid rgba(36, 24, 24, 0.25);
    transition-property: border;
    transition-duration: 750ms;
    transition-timing-function: ease-in;
    &:focus {
      outline: none;
      border: 1.5px solid rgba(36, 24, 24, 0.75);
    }
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    background-color: #fff;
  }
}
