.FeatureCards {
    display: grid;
    width: 100%;
    padding-left: 80px;
    grid-template-columns: repeat(3, 0.8fr);
    justify-content: center;
    justify-items: center;
  align-items: center;
  align-content: center;
  row-gap: 10%;
    @media screen and (max-width: 1024px) and (min-width: 720px) {
        grid-template-columns: repeat(2, 0.8fr);
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(1, 0.8fr);
  }
  

}
