.FeatureCards {
    display: grid;
  justify-content: space-between;
  width: 100%;
  padding-left: 80px;
  grid-template-columns: repeat(3, 0.8fr);
  @media screen and (max-width: 840px) and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
  

}
