.ComingSoon {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .ComingSoon__content {
    height: calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
    height: -moz-calc(100vh - 100px);
    height: -o-calc(100vh - 100px);
    height: -ms-calc(100vh - 100px);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0;
    .ComingSoon__illustration{
        height: 75%;
        width: auto;
    }
    .ComingSoon__content__heading{
    font-size: 4.5rem;
    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
    }
    font-weight: 900;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    -moz-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    -o-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        @keyframes pulse {
    
            0%,
            100% {
                opacity: 1;
            }
    
            50% {
                opacity: .5;
            }
        }
  }
}
}