.nav__scrolled {
  --background: #fff;
}
.Navbar {
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 50;
  width: 100%;
  transition-property: background-color;
  transition-duration: 750ms;
  transition-timing-function: ease-in;
  background-color: var(--background);
  .Navbar__logo {
    width: 200px;
  }
  .Navbar__links {
    display: flex;
    justify-content: space-between;
    width: 300px;
    flex-basis: 40%;
    @media screen and (max-width: 650px) {
        display: none;
    }
  }
  .Navbar__button {
    --background: #009f78;
    display: none;
  }
}
