.Footer{
    background-color: #001A13;
    color: #fff;
    padding: 80px;
    @media screen and (max-width: 768px) {
            padding: 40px;
    
        }
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    .Footer__content{
        display: flex;
        @media screen and (max-width: 768px){
            flex-direction: column;
            gap: 20px;
        }
        justify-content: space-between;
        .Footer__content__left{
            display: flex;
            flex-direction: column;
            flex-basis: 40%;
        }
        .Footer__content__right{
            flex-basis: 55%;
            display: flex;
            @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 20px;
                }
            justify-content: space-between;
            .Footer__content__right__links{
                display: flex;
                flex-basis: 50%;
                @media screen and (max-width: 768px) {
                        flex-direction: column;
                        gap: 20px;
                
                    }
                justify-content: space-between;
            }
            .Footer__content__right__social{
                flex-basis: 40%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .Footer__content__right__social__heading{
                font-weight: 500;
                font-size: 1.15rem;
                }
                .Footer__content__right__social__links{
                    background-color: #fff;
                    display: flex;
                    border-radius: 50px;
                    justify-content: space-around;
                    padding: 10px 20px;
                    .Footer__content__right__social__links__icon{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}